@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Oxanium", cursive;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: linear-gradient(to right, #6ab7f5, #fff, #f53434);
  min-height: 100vh;
}

#container {
  width: 100vw;
}

#tvContainer {
  position: relative;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

#tvBasel {
  max-height: 100vh;
  padding: 2%;
  margin: auto;
}

#pokemonSprite {
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-55%, 0);
  height: 20%;
}

#pokemonName,
span {
  display: flex;
}

/* #pokemonData {
  width: 17.9%;
  height: 22%;
  position: absolute;
  left: 75.5%;
  top: 9%;
} */

#pokemonName,
#pokemonType,
#pokemonHeight,
#pokemonWeight,
#pokemonSearch input {
  position: absolute;
  left: 76.5%;
}

#pokemonName {
  top: 9.5%;
}
#pokemonType {
  top: 13%;
}
#pokemonHeight {
  top: 17%;
}
#pokemonWeight {
  top: 21%;
}
#pokemonSearch input {
  top: 26.5%;
}

#pokemonName,
#pokemonType,
#pokemonHeight,
#pokemonWeight {
  font-size: clamp(0.5rem, -0.125rem + 2vw, 1.2vw);
  font-weight: 500;
  /* margin-left: clamp(0.5rem, -0.115rem + 2vw, 0.8rem); */
}

/* #pokemonType,
#pokemonHeight,
#pokemonWeight {
  margin-top: 2.5%;
} */

#pokemonSearch {
  /* margin-top: 7.5%; */
  width: fit-content;
  height: fit-content;
}

#pokemonName > span > img {
  /* height: 75%; */
  height: clamp(0.3rem, -0.125rem + 2vw, 1.2vw);
  /* position: absolute; */
  /* top: 2.5%; */
}

#pokemonSearch input {
  font-size: clamp(0.5rem, -0.125rem + 2vw, 1vw);
  font-weight: 500;
  /* padding: 2%; */
  outline: none;
  border: none;
  width: 16ch;
}
/* 
@media (max-height: 768px) {
  #pokemonName,
  #pokemonType,
  #pokemonHeight,
  #pokemonWeight,
  #pokemonSearch input {
    left: 70%;
  }
  #pokemonName {
    top: 10%;
  }
  #pokemonType {
    top: 13.7%;
  }
  #pokemonHeight {
    top: 17.5%;
  }
  #pokemonWeight {
    top: 21.3%;
  }
  #pokemonSearch input {
    top: 27%;
  }
}
 */
@media (max-height: 580px) {
  #pokemonSearch input {
    width: 10ch;
  }
  #pokemonName > span {
    display: none;
  }

  #pokemonName {
    top: 9%;
  }
  #pokemonType {
    top: 12%;
  }
  #pokemonHeight {
    top: 16%;
  }
  #pokemonWeight {
    top: 20%;
  }
  #pokemonSearch input {
    top: 26%;
  }
}

@media (max-width: 400px) {
  #pokemonSearch input {
    width: 10ch;
  }
}

.teste {
  position: absolute;
  bottom: 15%;
  right: 3.9%;
  width: 8.5%;
}

#btn {
  position: relative;
  /* width: 18.4%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* bottom: 15%; */
  /* right: 4.5%; */
}

#btnNext,
#btnBefore {
  text-align: center;
  /* display: flex; */
  /* height: 100%; */
  width: 100%;
  /* width: clamp(0.2rem, 4.6rem, 14rem); */
  position: absolute;
  bottom: 6%;
  border-radius: 15%;
  /* border: none; */
  /* font-size: clamp(0.125rem, 1.3rem, 4rem); */
  /* font-size: clamp(1rem, 4vh, 8vh); */
  font-size: clamp(0.5rem, -0.125rem + 2.0125vw, 160px);
  font-weight: 600;
  /* padding: 0.5vw 2.5%; */
  padding: 0 13%;
  cursor: pointer;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

#btnBefore {
  right: 142.2%;
}

#btnNext {
  right: 17.5%;
}

#btnNext:active,
#btnBefore:active {
  box-shadow: inset 1px 4px 0 #222;
  font-size: 0.9rem;
  width: clamp(0.2rem, 4.6rem, 14rem);
  /* height: 105%; */
  padding-top: 15%;
  padding-bottom: 5%;
  bottom: 5.3%;
}

#btnNext:active {
  padding-left: 20%;
}
#btnBefore:active {
  padding-right: 20%;
}
