@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Oxanium", cursive;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: linear-gradient(to right, #6ab7f5, #fff, #f53434);
  min-height: 100vh;
}

#container {
  width: 100vw;
}

#tvContainer {
  position: relative;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

#tvBasel {
  max-height: 100vh;
  padding: 2%;
  margin: auto;
}

#pokemonSprite {
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-55%, 0);
  height: 20%;
}

#pokemonName,
span {
  display: flex;
}

#pokemonData {
  position: absolute;
  width: 17%;
  left: 76%;
  top: 9%;
}

#pokemonName,
#pokemonType,
#pokemonHeight,
#pokemonWeight,
#pokemonSearch input {
  font-size: clamp(0.5rem, -0.125rem + 2vw, 1rem);
  font-weight: 500;
}

#pokemonType,
#pokemonHeight,
#pokemonWeight {
  margin-top: 2.5%;
}

#pokemonSearch {
  margin-top: 7.5%;
}

#pokemonName > span > img {
  height: 12%;
  position: absolute;
  top: 2.5%;
}

#pokemonSearch input {
  padding: 2%;
  outline: none;
  border: none;
  width: 100%;
}

#btnNext,
#btnBefore {
  position: absolute;
  bottom: 15.6%;
  border-radius: 15%;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 2.5%;
  cursor: pointer;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

#btnNext:active,
#btnBefore:active {
  box-shadow: inset 1px 4px 0 #222;
  font-size: 0.9rem;
  width: 7.8%;
  height: 4.5%;
  padding-top: 1%;
  bottom: 15.2%;
}

#btnNext {
  right: 5.6%;
}

#btnBefore {
  right: 16.4%;
}
