/* RESET DE ESTILOS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  max-width: 30%;
}

#titulo {
  grid-column: 1/-1;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  place-items: center;
}

#sideIMG,
#sideLogin {
  padding: 20px;
}

#sideIMG {
  display: grid;
  place-items: center;
  text-align: center;
}

#sideIMG h1 {
  margin-bottom: 20px;
  font-size: 1rem;
}

#sideLogin {
  display: grid;
  place-content: center;
  color: whitesmoke;
  background-color: rgb(31 97 167);
  height: 100%;
  width: 100%;
}

#sideLogin h1 {
  text-align: center;
  margin-bottom: 40px;
  grid-column: 1/-1;
}

#sideLogin form {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
  gap: 10px;
}

label {
  text-align: left;
}

button {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 5vh;
  border: none;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: silver;
}

button:hover {
  background-color: white;
}
