/* RESET DE ESTILOS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  padding: 50px 0;
  max-width: 300px;
  margin: auto;
}

#display {
  width: 100%;
  padding: 10px 0;
  font-size: 2.5rem;
  overflow: hidden;
  /* overflow-x: hidden; */
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 5px;
  padding: 20px 0;
  background-color: rgba(169, 169, 169, 0.39);
}

.keys button:nth-child(15) {
  grid-column: 3/-1;
  width: 135px;
  margin-right: 9px;
  border-radius: 20px;
}

.keys button:last-child {
  grid-column: 2/-1;
  width: 205px;
  margin-right: 9px;

  border-radius: 20px;
  justify-content: center;
  justify-self: end;
  display: flex;
}

button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  background-color: rgba(231, 231, 86, 0.966);
  color: black;
  /* padding: 20px; */
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 255, 0);
}
