/*
1- Referência do projeto: https://www.youtube.com/watch?v=L_JSUkn7LME
2- Icons: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
3- Fonts:
CSS rules to specify families
font-family: 'Baloo Da 2', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Mulish', sans-serif;


*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--font-primary: 'Baloo Da 2', serif;
	--font-secundary: 'Josefin Slab', serif;
	--font-action: 'Mulish', serif;
}

.hamburguer {
	/* background-color: #fc466b; */
	width: 2rem;
	height: 2rem;
	position: fixed;
	z-index: 100;
	right: 2rem;
	top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
	transition: 0.6s;
}

.show-menu .hamburguer {
	right: 16rem;
	transition: 0.6s;
}

.line {
	width: 100%;
	height: 0.1rem;
	background-color: white;
	box-shadow: 0.1rem 0.1rem 1px black;
}

header {
	width: 100%;
	height: 100vh;
	overflow: hidden; /* EVITA QUE OS ELEMENTOS DO HEADER ULTRAPASSEM O TAMANHO DA TELA*/
	position: relative;
}

.img-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden; /* EVITA QUE OS ELEMENTOS DO HEADER ULTRAPASSEM O TAMANHO DA TELA*/
	background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
	animation: zoom 15s;
}

@keyframes zoom {
	0% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

.banner {
	position: absolute;
	top: 30%;
	left: 10%;
}

.banner h1 {
	color: white;
	font-size: 3.5rem;
	font-family: var(--font-primary);
	font-weight: 200;
	text-shadow: 0.2rem 0.3rem 2px rgba(0, 0, 0, 0.4);
	line-height: 3.5rem;
	margin-bottom: 2rem;
	animation: moveBanner 1s 0.5s forwards;
	opacity: 0;
}

.banner p {
	font-family: var(--font-secundary);
	color: white;
	font-size: 2rem;
	text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
	margin-bottom: 2rem;
	animation: moveBanner 1s 0.7s forwards;
	opacity: 0;
}

.banner button {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-family: var(--font-action);
	background: #fc466b; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3f5efb, #fc466b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fc466b,
		#3f5efb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 1rem 2rem;
	width: 10rem;
	border: 1px;
	border-radius: 5px;
	cursor: pointer;
	animation: moveBanner 1s 0.9s forwards;
	opacity: 0;
}

.botao-banner:hover {
	/* Não está funcionando, por que o browser está considerando apenas os valores do keyframes (opacity:1)*/
	opacity: 0.9;
}

@keyframes moveBanner {
	0% {
		transform: translateY(10rem) rotateY(-30deg);
	}
	100% {
		transform: translateY(0) rotateY(0);
		opacity: 0.9;
	}
}

.sidebar {
	width: 20rem;
	height: 100vh;
	background-color: white;
	position: fixed;
	top: 0;
	right: -20rem;
	transition: all 0.5s;
}

.show-menu .sidebar {
	right: 0;
}

.menu {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-item {
	text-align: center;
	margin-bottom: 0.5rem;
}

.menu-link {
	font-family: var(--font-action);
	font-size: 2rem;
	color: #555;
	transition: color 1s;
}

.menu-link:hover {
	color: #6a3093;
}

.social-media {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	/* background-color: rgba(255, 0, 0, 0.5); */
	display: flex;
	justify-content: space-evenly;
}

.social-media i {
	/* background-color: #6a3093; */
	color: #6a3093;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background-color 0.3s;
}

.social-media i:hover {
	/* background-color: #a044ff; */
	color: #a044ff;
}
