* {
  font-family: arial;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0;
}

body {
  margin: 50px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  border: 1px solid black;
  justify-content: center;
  place-items: center end;
  height: 450px;
  gap: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  border: 1px solid black;
  justify-content: center;
  height: 250px;
  gap: 10px;
}

.elementoH3 {
  border: 1px dashed grey;
  text-align: center;
  /* place-self: center; */
  height: 50px;
  width: 250px;
}

.testeh3 {
  place-self: end;
}

.elementoA {
  border: 1px dashed grey;
  /* text-align: center; */
  background-color: red;
  text-align: center;
  padding: 20px;
  height: fit-content;
}

.elementoA a {
  color: white;
}

#testeA {
  place-self: center;
  background-color: grey;
}

.estiloPeA {
  border: 1px dashed gray;
}

.conjuntoHPeA {
  /* display: grid; */
  border: 1px dashed green;
  justify-self: end;
}

.flex {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.flex a {
  background: red;
  color: white;
  padding: 1vw 2vw;
  font-weight: 600;
  border-radius: 0.5vw;
  font-size: 1vw;
}

.teste-bg {
  margin-top: 30px;
  width: 1250px;
  height: 500px;
  background-color: blue;
  border: 1px solid black;
  background-image: url("./images/bikcraft.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}
